
  @import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

html{
    overflow-x: hidden;
}
body{
    padding: 0px;
    margin: 0px;
}
ul li a{
    text-decoration: none;
    color:blueviolet
}
ul li{
    list-style-type: none;
    padding: 50px

}
ul{
    display: flex;
    justify-content: center;
}
*{
    font-family: 'Protest Riot', sans-serif;

}
p{
    color:rgb(25, 48, 128);
    font-weight: 100;
}
pre{
    font-weight: 300;
    color:red;
}